extends ../layouts/layout_articles
block content
  if articles.length == 0
    div.no-content
      span.no-articles No articles have been added yet. 
      span.new-article
        a.article-add(href="article/add") Add new article
  .article-list
    count = 0
    each article in articles
      if count == 0
        li.article-title.first: a(href='article/#{article._id}') #{article.title} 
          span.comment-count ##{article.comments.length}
      else
        li.article-title: a(href='article/#{article._id}') #{article.title} 
          span.comment-count ##{article.comments.length}
      -{count = count + 1}