extends ../layouts/layout_articles
block content
  .article-list
    each article in articles
      count_articles = articles.length
      if count != 0
        count = 1
      if count == 1
        li.article-title.first: a(href='article/#{article._id}') #{article.title} 
          span.comment-count ##{article.comments.length}
        count = 0
      else
        li.article-title: a(href='article/#{article._id}') #{article.title} 
          span.comment-count ##{article.comments.length}
